*{
    padding: 0px;
    margin: 0px;
}

/* pie */
#contenido{
    margin:0 auto;
    width:100%;
}
#pie{ 
    background-color:#bbb;
    clear:both;
    color:#900;
    padding:10px;
    text-align:center;
}
/* menu */
nav{
    max-width: 900px;
    margin: auto;
    background-color: #000000;
    font-size: 20px;
    margin-top: 50px;
}
.menu-horizontal{
    list-style: none;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: red;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}