*{
	padding: 0px;
	margin: 0px;
}
.contenedor{
	background-color: #70708c;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}
.item{
	margin: 10px;
	padding: 10px;
	color: black;
	float: left;
}

#item1{
	background-color: #ffffff;
}

#item2{
	background-color: #00ff00;
}